@model List<Coffee_POS_System_ASP.NET_Core.Models.DogViewModel>

<h1>Hello World bro!</h1>
<p>This is the index page of the HelloWorldController</p>

<ul>
	@foreach (var dog in Model)
	{
		<li>@dog.Name (@dog.Age)</li>
	}
</ul>